@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "MapleMono","Microsoft Yahei",sans-serif;
}

@font-face {
    font-family: "MapleMono";
    src: local(""),
    url("assets/fonts/MapleMono-Regular.woff2") format("woff2");
}